body{
    background-color: #B8173E
    
}
#title{
    display: inline-flex;
    text-align: center;
    font-family: 'Baloo Chettan', cursive;
    font-size: 30px;
}
#register{
    display: flex;
    flex-direction: column;
    
    padding: 1px;
    align-items: center;
    justify-content: center;
    
}
#display{
    text-align: center;
    display: inline-flex;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;

}
#row1{
    display: flex;
    text-align: center;
    flex-grow: 1;
}
#row2{
    display: flex;
    text-align: center;
}
#row3{
    display: flex;
    text-align: center;
}
#row4{
    display: flex;
    text-align: center;
    
}
#row5{
    display: flex
    
    
}
#moneysign{
    display: inline-flex;
    text-align: center;
    font-family: 'Baloo Chettan', cursive;
    font-size: 40px;
}
.button{
    border-radius: 50%;
    height: 141px;
    width: 141px;
    font-family: 'Baloo Chettan', cursive;
    font-size: 28px;
    padding: 5px;
    
}
#titleBox{
    background-color: white;
    text-align: center;
    border-radius: 20%;
}

/* buttons 
border-radius: 50%;
width: 40px;
height: 40px;
*/