body{
    background-color: #B8173E
    
}
#register{
    display: flex;
    flex-direction: column;
    
    padding: 1px;
    align-items: center;
    justify-content: center;
    
}
#display{
    text-align: center;
    display: inline-flex;
}
#row1{
    display: flex;
    text-align: center;
    flex-grow: 1;
}
#row2{
    display: flex;
    text-align: center;
}
#row3{
    display: flex;
    text-align: center;
}
#row4{
    display: flex;
    text-align: center;
}
#row5{
    display: flex
    
}
#moneysign{
    display: inline-flex;
    text-align: center;
}